<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
    <div>
        <h1>Авторизация</h1>
        <form method="POST" action="/login">
            <label for="login">Логин:</label><br>
            <input type="text" id="login" name="login" required><br><br>

            <input type="email" id="email" name="email" placeholder="Email"><br><br>

            <input type="password" id="password" name="password" placeholder="Пароль"><br><br>

            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>